.user-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-image-container img {
    height: 70px;
    width: 80px;
    border-radius: 35px;
  }
  
  .userName {
    text-decoration: none;
    color: white;
  }
  
  .style-reseña {
    background: #021321;
    color: #ffffff;
    border: #333 solid 1px;
    border-radius: 5px;
  }
  
    .style-reseña:hover {
      box-sizing: border-box;
      background: #0069c0
    }

textarea {
  resize: none;
  width: 100%;
  border: 2px solid #000;
  background-color: #021321;
  color: white;
  margin: 10px 10px 0 0;
}