.cardCarousel .carousel-inner{
    width: 90%;
    left: 5%;
}
.cardCarousel .card{
    margin-left: 20px;
    padding-top: 10px;
}
.cardCarousel .carousel-control-prev, .carousel-control-next{
    width: 5%;
}