.list-group-item .btn {
    position: absolute;
    right: 16px;
    top: 4px;
}
.list-group{
    width: 100%;
}
.pagination {
    margin-top: 10px;
    padding: auto;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 760px;
}